*{
  box-sizing: border-box!important;
  padding: 0;
  margin: 0;
}

body {

background-color:aliceblue;
  font-family: "Roboto", sans-serif;
}

header .jumbotron {
  background-image: url(img/background1.jpg);
  background-size: cover;
  background-position: 12% 50%;
  padding-top: 13rem;
  height:45rem;
}
#header-title-btk {
  text-transform: uppercase;
  color: aqua;
}


h2,h3,h4,h5,h6{
  font-weight:bolder;
}
.footer{
 color: red;
}


